* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  
  .content {
    text-align: center;
    transition: transform 0.5s ease;
  }
  
  #title {
    font-size: 7rem;
    position: relative;
    top: -40%;
  }
  
  #intro {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
  }
  
  .white-background {
    background-color: white;
  }
  
  .black-background {
    background-color: black;
  }
  
  .white-text {
    color: black;
  }
  
  .black-text {
    color: white;
  }
  